USE [master]
GO
/****** Object:  Database [SinemaBiletSistemi]    Script Date: 28.05.2026 20:28:58 ******/
CREATE DATABASE [SinemaBiletSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SinemaBiletSistemi', FILENAME = N'C:\Users\ARDA\SinemaBiletSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SinemaBiletSistemi_log', FILENAME = N'C:\Users\ARDA\SinemaBiletSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SinemaBiletSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SinemaBiletSistemi]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BosKoltukSayisiGetir]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_BosKoltukSayisiGetir]
(
    @SeansID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @BosKoltukSayisi INT;
    SELECT @BosKoltukSayisi = BosKoltukSayisi
    FROM SEANSLAR
    WHERE SeansID = @SeansID;
    RETURN @BosKoltukSayisi;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SeansToplamGelir]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_SeansToplamGelir]
(
    @SeansID INT
)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @ToplamGelir DECIMAL(10,2);
    SELECT @ToplamGelir = ISNULL(SUM(OdemeTutari), 0)
    FROM BILETLER
    WHERE SeansID = @SeansID;
    RETURN @ToplamGelir;
END;
GO
/****** Object:  Table [dbo].[BILETLER]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILETLER](
	[BiletID] [int] IDENTITY(1,1) NOT NULL,
	[SeansID] [int] NOT NULL,
	[MusteriID] [int] NOT NULL,
	[KoltukID] [int] NOT NULL,
	[SatisTarihi] [datetime] NULL,
	[OdemeTutari] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BiletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILMLER]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILMLER](
	[FilmID] [int] IDENTITY(1,1) NOT NULL,
	[FilmAdi] [nvarchar](100) NOT NULL,
	[Yonetmen] [nvarchar](100) NULL,
	[Sure] [int] NULL,
	[Tur] [nvarchar](50) NULL,
	[AfisURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KOLTUKLAR]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOLTUKLAR](
	[KoltukID] [int] IDENTITY(1,1) NOT NULL,
	[SalonID] [int] NOT NULL,
	[KoltukNo] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KoltukID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERILER]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERILER](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALONLAR]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALONLAR](
	[SalonID] [int] IDENTITY(1,1) NOT NULL,
	[SalonAdi] [nvarchar](50) NOT NULL,
	[Kapasite] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEANSLAR]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEANSLAR](
	[SeansID] [int] IDENTITY(1,1) NOT NULL,
	[FilmID] [int] NOT NULL,
	[SalonID] [int] NOT NULL,
	[TarihSaat] [datetime] NOT NULL,
	[BiletFiyati] [decimal](10, 2) NOT NULL,
	[BosKoltukSayisi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeansID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BILETLER] ON 

INSERT [dbo].[BILETLER] ([BiletID], [SeansID], [MusteriID], [KoltukID], [SatisTarihi], [OdemeTutari]) VALUES (1, 1, 1, 1, CAST(N'2026-05-28T18:51:26.477' AS DateTime), CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[BILETLER] ([BiletID], [SeansID], [MusteriID], [KoltukID], [SatisTarihi], [OdemeTutari]) VALUES (2, 1, 1, 2, CAST(N'2026-05-28T19:50:28.580' AS DateTime), CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[BILETLER] ([BiletID], [SeansID], [MusteriID], [KoltukID], [SatisTarihi], [OdemeTutari]) VALUES (3, 1, 2, 3, CAST(N'2026-05-28T19:50:28.587' AS DateTime), CAST(150.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[BILETLER] OFF
GO
SET IDENTITY_INSERT [dbo].[FILMLER] ON 

INSERT [dbo].[FILMLER] ([FilmID], [FilmAdi], [Yonetmen], [Sure], [Tur], [AfisURL]) VALUES (1, N'Inception', N'Christopher Nolan', 148, N'Bilim Kurgu', N'https://ornek.com/inception.jpg')
INSERT [dbo].[FILMLER] ([FilmID], [FilmAdi], [Yonetmen], [Sure], [Tur], [AfisURL]) VALUES (2, N'Interstellar', N'Christopher Nolan', 169, N'Bilim Kurgu', N'https://ornek.com/interstellar.jpg')
INSERT [dbo].[FILMLER] ([FilmID], [FilmAdi], [Yonetmen], [Sure], [Tur], [AfisURL]) VALUES (3, N'The Dark Knight', N'Christopher Nolan', 152, N'Aksiyon', N'https://ornek.com/dark-knight.jpg')
SET IDENTITY_INSERT [dbo].[FILMLER] OFF
GO
SET IDENTITY_INSERT [dbo].[KOLTUKLAR] ON 

INSERT [dbo].[KOLTUKLAR] ([KoltukID], [SalonID], [KoltukNo]) VALUES (1, 1, N'A1')
INSERT [dbo].[KOLTUKLAR] ([KoltukID], [SalonID], [KoltukNo]) VALUES (10, 1, N'A10')
INSERT [dbo].[KOLTUKLAR] ([KoltukID], [SalonID], [KoltukNo]) VALUES (2, 1, N'A2')
GO
SET IDENTITY_INSERT [dbo].[KOLTUKLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[MUSTERILER] ON 

INSERT [dbo].[MUSTERILER] ([MusteriID], [AdSoyad], [Telefon], [Email]) VALUES (1, N'Arda Şengün', N'05551234567', N'arda@ornek.com')
INSERT [dbo].[MUSTERILER] ([MusteriID], [AdSoyad], [Telefon], [Email]) VALUES (2, N'Ayşe Yılmaz', N'05552000000', N'musteri01@ornek.com')
INSERT [dbo].[MUSTERILER] ([MusteriID], [AdSoyad], [Telefon], [Email]) VALUES (3, N'Mehmet Demir', N'05552000001', N'musteri02@ornek.com')
SET IDENTITY_INSERT [dbo].[MUSTERILER] OFF
GO
SET IDENTITY_INSERT [dbo].[SALONLAR] ON 

INSERT [dbo].[SALONLAR] ([SalonID], [SalonAdi], [Kapasite]) VALUES (1, N'Salon 1', 50)
INSERT [dbo].[SALONLAR] ([SalonID], [SalonAdi], [Kapasite]) VALUES (2, N'Salon 2 IMAX', 60)
INSERT [dbo].[SALONLAR] ([SalonID], [SalonAdi], [Kapasite]) VALUES (3, N'Salon 3 Gold Class', 60)
SET IDENTITY_INSERT [dbo].[SALONLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[SEANSLAR] ON 

INSERT [dbo].[SEANSLAR] ([SeansID], [FilmID], [SalonID], [TarihSaat], [BiletFiyati], [BosKoltukSayisi]) VALUES (1, 1, 1, CAST(N'2026-06-01T20:00:00.000' AS DateTime), CAST(150.00 AS Decimal(10, 2)), 35)
INSERT [dbo].[SEANSLAR] ([SeansID], [FilmID], [SalonID], [TarihSaat], [BiletFiyati], [BosKoltukSayisi]) VALUES (2, 1, 1, CAST(N'2026-06-02T12:00:00.000' AS DateTime), CAST(120.00 AS Decimal(10, 2)), 40)
INSERT [dbo].[SEANSLAR] ([SeansID], [FilmID], [SalonID], [TarihSaat], [BiletFiyati], [BosKoltukSayisi]) VALUES (3, 2, 2, CAST(N'2026-06-02T15:30:00.000' AS DateTime), CAST(145.00 AS Decimal(10, 2)), 50)
SET IDENTITY_INSERT [dbo].[SEANSLAR] OFF
GO
/****** Object:  Index [UQ_Seans_Koltuk]    Script Date: 28.05.2026 20:28:58 ******/
ALTER TABLE [dbo].[BILETLER] ADD  CONSTRAINT [UQ_Seans_Koltuk] UNIQUE NONCLUSTERED 
(
	[SeansID] ASC,
	[KoltukID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Salon_KoltukNo]    Script Date: 28.05.2026 20:28:58 ******/
ALTER TABLE [dbo].[KOLTUKLAR] ADD  CONSTRAINT [UQ_Salon_KoltukNo] UNIQUE NONCLUSTERED 
(
	[SalonID] ASC,
	[KoltukNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MUSTERIL__92EB416983770274]    Script Date: 28.05.2026 20:28:58 ******/
ALTER TABLE [dbo].[MUSTERILER] ADD UNIQUE NONCLUSTERED 
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MUSTERIL__A9D1053484118400]    Script Date: 28.05.2026 20:28:58 ******/
ALTER TABLE [dbo].[MUSTERILER] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILETLER] ADD  DEFAULT (getdate()) FOR [SatisTarihi]
GO
ALTER TABLE [dbo].[BILETLER]  WITH CHECK ADD  CONSTRAINT [FK_Biletler_Koltuklar] FOREIGN KEY([KoltukID])
REFERENCES [dbo].[KOLTUKLAR] ([KoltukID])
GO
ALTER TABLE [dbo].[BILETLER] CHECK CONSTRAINT [FK_Biletler_Koltuklar]
GO
ALTER TABLE [dbo].[BILETLER]  WITH CHECK ADD  CONSTRAINT [FK_Biletler_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[MUSTERILER] ([MusteriID])
GO
ALTER TABLE [dbo].[BILETLER] CHECK CONSTRAINT [FK_Biletler_Musteriler]
GO
ALTER TABLE [dbo].[BILETLER]  WITH CHECK ADD  CONSTRAINT [FK_Biletler_Seanslar] FOREIGN KEY([SeansID])
REFERENCES [dbo].[SEANSLAR] ([SeansID])
GO
ALTER TABLE [dbo].[BILETLER] CHECK CONSTRAINT [FK_Biletler_Seanslar]
GO
ALTER TABLE [dbo].[KOLTUKLAR]  WITH CHECK ADD  CONSTRAINT [FK_Koltuklar_Salonlar] FOREIGN KEY([SalonID])
REFERENCES [dbo].[SALONLAR] ([SalonID])
GO
ALTER TABLE [dbo].[KOLTUKLAR] CHECK CONSTRAINT [FK_Koltuklar_Salonlar]
GO
ALTER TABLE [dbo].[SEANSLAR]  WITH CHECK ADD  CONSTRAINT [FK_Seanslar_Filmler] FOREIGN KEY([FilmID])
REFERENCES [dbo].[FILMLER] ([FilmID])
GO
ALTER TABLE [dbo].[SEANSLAR] CHECK CONSTRAINT [FK_Seanslar_Filmler]
GO
ALTER TABLE [dbo].[SEANSLAR]  WITH CHECK ADD  CONSTRAINT [FK_Seanslar_Salonlar] FOREIGN KEY([SalonID])
REFERENCES [dbo].[SALONLAR] ([SalonID])
GO
ALTER TABLE [dbo].[SEANSLAR] CHECK CONSTRAINT [FK_Seanslar_Salonlar]
GO
ALTER TABLE [dbo].[BILETLER]  WITH CHECK ADD CHECK  (([OdemeTutari]>(0)))
GO
ALTER TABLE [dbo].[FILMLER]  WITH CHECK ADD CHECK  (([Sure]>(0)))
GO
ALTER TABLE [dbo].[SALONLAR]  WITH CHECK ADD CHECK  (([Kapasite]>(0)))
GO
ALTER TABLE [dbo].[SEANSLAR]  WITH CHECK ADD CHECK  (([BiletFiyati]>(0)))
GO
ALTER TABLE [dbo].[SEANSLAR]  WITH CHECK ADD CHECK  (([BosKoltukSayisi]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_BiletEkle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =========================================
-- BILETLER TABLOSU
-- =========================================

-- Bilet Ekleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_BiletEkle]
    @SeansID   INT,
    @MusteriID INT,
    @KoltukID  INT
AS
BEGIN
    DECLARE @BiletFiyati DECIMAL(10,2);

    SELECT @BiletFiyati = BiletFiyati
    FROM SEANSLAR
    WHERE SeansID = @SeansID;

    INSERT INTO BILETLER (SeansID, MusteriID, KoltukID, OdemeTutari)
    VALUES (@SeansID, @MusteriID, @KoltukID, @BiletFiyati);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BiletGuncelle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bilet Güncelleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_BiletGuncelle]
    @BiletID      INT,
    @SeansID      INT,
    @MusteriID    INT,
    @KoltukID     INT,
    @OdemeTutari  DECIMAL(10,2)
AS
BEGIN
    UPDATE BILETLER
    SET
        SeansID     = @SeansID,
        MusteriID   = @MusteriID,
        KoltukID    = @KoltukID,
        OdemeTutari = @OdemeTutari
    WHERE BiletID = @BiletID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BiletListele]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bilet Listeleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_BiletListele]
AS
BEGIN
    SELECT * FROM BILETLER;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BiletSil]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bilet Silme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_BiletSil]
    @BiletID INT
AS
BEGIN
    DELETE FROM BILETLER
    WHERE BiletID = @BiletID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_FilmEkle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================
-- STORED PROCEDURE YAPILARI
-- =========================================


-- =========================================
-- FILMLER TABLOSU
-- =========================================

-- Film Ekleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_FilmEkle]
    @FilmAdi    NVARCHAR(100),
    @Yonetmen   NVARCHAR(100),
    @Sure       INT,
    @Tur        NVARCHAR(50),
    @AfisURL    NVARCHAR(255)
AS
BEGIN
    INSERT INTO FILMLER (FilmAdi, Yonetmen, Sure, Tur, AfisURL)
    VALUES (@FilmAdi, @Yonetmen, @Sure, @Tur, @AfisURL);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_FilmGuncelle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Film Güncelleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_FilmGuncelle]
    @FilmID     INT,
    @FilmAdi    NVARCHAR(100),
    @Yonetmen   NVARCHAR(100),
    @Sure       INT,
    @Tur        NVARCHAR(50),
    @AfisURL    NVARCHAR(255)
AS
BEGIN
    UPDATE FILMLER
    SET
        FilmAdi  = @FilmAdi,
        Yonetmen = @Yonetmen,
        Sure     = @Sure,
        Tur      = @Tur,
        AfisURL  = @AfisURL
    WHERE FilmID = @FilmID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_FilmListele]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Film Listeleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_FilmListele]
AS
BEGIN
    SELECT * FROM FILMLER;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_FilmSil]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Film Silme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_FilmSil]
    @FilmID INT
AS
BEGIN
    DELETE FROM FILMLER
    WHERE FilmID = @FilmID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KoltukEkle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =========================================
-- KOLTUKLAR TABLOSU
-- =========================================

-- Koltuk Ekleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_KoltukEkle]
    @SalonID  INT,
    @KoltukNo NVARCHAR(10)
AS
BEGIN
    INSERT INTO KOLTUKLAR (SalonID, KoltukNo)
    VALUES (@SalonID, @KoltukNo);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KoltukGuncelle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Koltuk Güncelleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_KoltukGuncelle]
    @KoltukID INT,
    @SalonID  INT,
    @KoltukNo NVARCHAR(10)
AS
BEGIN
    UPDATE KOLTUKLAR
    SET
        SalonID  = @SalonID,
        KoltukNo = @KoltukNo
    WHERE KoltukID = @KoltukID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KoltukListele]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Koltuk Listeleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_KoltukListele]
AS
BEGIN
    SELECT * FROM KOLTUKLAR;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KoltukSil]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Koltuk Silme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_KoltukSil]
    @KoltukID INT
AS
BEGIN
    DELETE FROM KOLTUKLAR
    WHERE KoltukID = @KoltukID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MusteriEkle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =========================================
-- MUSTERILER TABLOSU
-- =========================================

-- Musteri Ekleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_MusteriEkle]
    @AdSoyad NVARCHAR(100),
    @Telefon NVARCHAR(20),
    @Email   NVARCHAR(100)
AS
BEGIN
    INSERT INTO MUSTERILER (AdSoyad, Telefon, Email)
    VALUES (@AdSoyad, @Telefon, @Email);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MusteriGuncelle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Musteri Güncelleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_MusteriGuncelle]
    @MusteriID INT,
    @AdSoyad   NVARCHAR(100),
    @Telefon   NVARCHAR(20),
    @Email     NVARCHAR(100)
AS
BEGIN
    UPDATE MUSTERILER
    SET
        AdSoyad = @AdSoyad,
        Telefon = @Telefon,
        Email   = @Email
    WHERE MusteriID = @MusteriID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MusteriListele]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Musteri Listeleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_MusteriListele]
AS
BEGIN
    SELECT * FROM MUSTERILER;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MusteriSil]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Musteri Silme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_MusteriSil]
    @MusteriID INT
AS
BEGIN
    DELETE FROM MUSTERILER
    WHERE MusteriID = @MusteriID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SalonEkle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =========================================
-- SALONLAR TABLOSU
-- =========================================

-- Salon Ekleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_SalonEkle]
    @SalonAdi  NVARCHAR(50),
    @Kapasite  INT
AS
BEGIN
    INSERT INTO SALONLAR (SalonAdi, Kapasite)
    VALUES (@SalonAdi, @Kapasite);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SalonGuncelle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Salon Güncelleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_SalonGuncelle]
    @SalonID  INT,
    @SalonAdi NVARCHAR(50),
    @Kapasite INT
AS
BEGIN
    UPDATE SALONLAR
    SET
        SalonAdi = @SalonAdi,
        Kapasite = @Kapasite
    WHERE SalonID = @SalonID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SalonListele]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Salon Listeleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_SalonListele]
AS
BEGIN
    SELECT * FROM SALONLAR;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SalonSil]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Salon Silme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_SalonSil]
    @SalonID INT
AS
BEGIN
    DELETE FROM SALONLAR
    WHERE SalonID = @SalonID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SeansEkle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =========================================
-- SEANSLAR TABLOSU
-- =========================================

-- Seans Ekleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_SeansEkle]
    @FilmID       INT,
    @SalonID      INT,
    @TarihSaat    DATETIME,
    @BiletFiyati  DECIMAL(10,2)
AS
BEGIN
    DECLARE @Kapasite INT;

    SELECT @Kapasite = Kapasite
    FROM SALONLAR
    WHERE SalonID = @SalonID;

    INSERT INTO SEANSLAR (FilmID, SalonID, TarihSaat, BiletFiyati, BosKoltukSayisi)
    VALUES (@FilmID, @SalonID, @TarihSaat, @BiletFiyati, @Kapasite);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SeansGuncelle]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Seans Güncelleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_SeansGuncelle]
    @SeansID      INT,
    @FilmID       INT,
    @SalonID      INT,
    @TarihSaat    DATETIME,
    @BiletFiyati  DECIMAL(10,2)
AS
BEGIN
    UPDATE SEANSLAR
    SET
        FilmID      = @FilmID,
        SalonID     = @SalonID,
        TarihSaat   = @TarihSaat,
        BiletFiyati = @BiletFiyati
    WHERE SeansID = @SeansID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SeansListele]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Seans Listeleme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_SeansListele]
AS
BEGIN
    SELECT * FROM SEANSLAR;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SeansSil]    Script Date: 28.05.2026 20:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Seans Silme Procedure
-- =========================================
CREATE PROCEDURE [dbo].[sp_SeansSil]
    @SeansID INT
AS
BEGIN
    DELETE FROM SEANSLAR
    WHERE SeansID = @SeansID;
END;
GO
USE [master]
GO
